body{
background-image: url(https://img.freepik.com/free-vector/sunset-sunrise-ocean-nature-landscape_33099-2244.jpg?w=1380&t=st=1691243260~exp=1691243860~hmac=e0b64b7700eb904ec325933a513061cd73cde3504f1f360b8d3a5710f5bd6df7);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
box-sizing: border-box;
cursor: none;
}

.navigation1{
    position: fixed;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: #1abc9c;
    backdrop-filter: blur(25px);
    top: 25px;
    left: 25px;
    border-radius: 25%;

}

.navigation1 .menuToggle1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.navigation1 .menuToggle1 .line1 {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 10px;
    top: 25%;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.navigation1 .menuToggle1 .line2 {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 10px;
    top: 45%;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    transition: 0.2s;
}

.navigation1 .menuToggle1 .line3 {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-left: 10px;
    top: 65%;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.navigation1 .menuToggle1 .line1.active{
    transform: rotate(45deg);
    top: 50%;
}

.navigation1 .menuToggle1 .line2.active{
    transform: translateX(-2em);
    background-color: transparent;
}

.navigation1 .menuToggle1 .line3.active{
    transform: rotate(-45deg);
    top: 50%;
}

.liste{
    position: fixed;
    color: transparent;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    visibility: hidden;
    transition: 0.2s;
    border-radius: 10px;
    top: 0;
}

.liste.active{
    position: fixed;
    visibility: visible;
    z-index: 999;
    width: 97%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.liste li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    flex-direction: column;
    font-size: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
    
}

.liste.active li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    flex-direction: column;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
    text-transform: uppercase;
    margin-top: 25px;
    gap: 0.35em;
    cursor: pointer;
    text-decoration: none;
}

.liste li a:hover{
    letter-spacing: 10px;
}

.liste li a span{
    position: relative;
    content: '';
    width: 0%;
    height: 10px;
    background-color: #23c483;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    border-radius: 5px;
}

.liste li a:hover span{
    width: 35%;   
}










.navigation2{
    position: fixed;
    z-index: 998;
    width: 50px;
    height: 50px;
    background: #fefefe; 
    top: 25px;
    right: 25px;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.3s,width 0.3s;
    transition-delay: 0s,0.3s;
}

.navigation2.active{
    width: 250px;
    height: 350px;
    transition: width 0.3s,height 0.3s;
    transition-delay: 0s,0.3s;   
}


.navigation2 .menuToggle2{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff4081;
    transition: 0.5s;
    cursor: pointer;
}

.navigation2 .menuToggle2.active{
    background-color: #2196f3;
}

.navigation2 .menuToggle2.active::before{
   transform: rotate(315deg); 
}

.navigation2 .menuToggle2::before{
    content: '+';
    position: absolute;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 50px;
    font-weight: 400;
    transition: 0.5s;
}

.navigation2 ul{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation2 ul li{
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation2 ul li:hover{
    background-color: #03a9f4;
}

.navigation2 ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #154367;
}

.navigation2 ul li a .icon{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation2 ul li a .icon i{
    font-size: 1.15em;
    color: #154367;
    transition: 0.3s;
}

.navigation2 ul li a .title{
    position: relative;
    display: block;
    line-height: 50px;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}


.navigation2 ul li:hover a .icon i,
.navigation2 ul li:hover a .title{
    color: #fefefe;
    transform: translateX(20px);
    transition: 0.3s;
}


@media all and (max-width: 1297px) {


    .sect-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }    

    
@media all and (max-width: 1000px) {
  
    .liste.active li a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fefefe;
        flex-direction: column;
        font-size: 100px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: 0.2s;
        text-transform: uppercase;
        margin-top: 1.5em;
        cursor: pointer;
        text-decoration: none;
    }
    }



.sect-0{
    background: #2c3e50;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.sect-0 nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    width: 100px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.sect-0 nav{
    background: #34495e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    position: relative;
}

.sect-0 nav a {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.sect-0 a:nth-child(1){
    width: 100px;
}

.sect-0 nav .start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}

.sect-0 a:nth-child(2){
    width: 110px;
}

.sect-0 nav .start-about,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
}

.sect-0 a:nth-child(3){
    width: 90px;
}

.sect-0 nav .start-blog,a:nth-child(3):hover~.animation{
    width: 90px;
    left: 207px;
}

.sect-0 .sa:nth-child(4){
    width: 160px;
}

.sect-0 nav .start-portfolio,a:nth-child(4):hover~.animation{
    width: 110px;
    left: 280px;
}

.sect-0 a:nth-child(5){
    width: 120px;
}

.sect-0 nav .start-contact,a:nth-child(5):hover~.animation{
    width: 110px;
    left: 380px;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-1 nav{
min-width: 600px;
display: flex;
align-items: center;
justify-content: center;
}

.sect-1{
    padding: 29px 15px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    border-radius: 15px;
}


.sect-1 a{
    position: relative;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 5px 10px;
    z-index: 1;
    transition: 0.3s ease;
}


.sect-1 a:after {
content: '';
position: absolute;
background-color: rgb(255, 229, 105);
height: 4px;
width: 0;
left: 10px;
right: 10px;
bottom: -5px;
transition: 0.3s;
}

.sect-1 a:hover:after{
    width: 75%;
 }

 .sect-1 a:hover{
    color: white;
    }

/*----------------------------------------------------------------------------------------------------------------- */

.sect-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 20px 50px;
}

.sect-2 a{
     text-decoration: none;
    font-family: 'Manrope', sans-serif;
    margin-left: 15px;
    color: black;
}

.sect-2 a:hover{
    text-decoration: underline;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-3{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

 .sect-3 .box img{
    display: block;
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

.sect-3 .box:hover{
transform: scale(1.25);
z-index: 2;
}

.sect-3 .box {
    transition: 0.8s;
  }

/*----------------------------------------------------------------------------------------------------------------- */

.sect-4{
    background: linear-gradient( to right, #1D5D9B,#75C2F6 );
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.sect-4 img{
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
  border-radius: 15px;
  margin: 30px;
}

.sect-4 .box{
transition: 0.7s;
}

.sect-4 .box:hover{
translate: 0px -20px;
}
/*----------------------------------------------------------------------------------------------------------------- */
.sect-5{
    font-family: 'VALORANT';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 15px;
    padding: 100px;
}

.sect-5-banner{
    background-image: url(Images/1383705-banniere-valorant-atti-full-1.jpg);
    background-size: cover;
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
}

.sect-5 img{
    transition: 0.5s;
}

.sect-5 img:hover{
    transform: scale(1.3) rotate(720deg);
}

.sect-5 .bouton {
    height: 3.5em;
    width: 17em;
    font-size: 20px;
    border: none;
    font-family: VALORANT;
    color: #fefefe;
    background: #ff4655;
    position: relative;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.sect-5 button::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    height: 6px;
    width: 6px;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.sect-5 .Grand_bord::before{
    position: absolute;
    content: '';
    top: -15%;
    left: -3%;
    height: 1.5em;
    width: 18em;
    background-color: transparent;
    border-top: 1px solid #ebe7e080;
    border-left: 1px solid #ebe7e080;
    border-right: 1px solid #ebe7e080;
}

.sect-5 .Grand_bord::after{
    position: absolute;
    content: '';
    bottom: -15%;
    left: -3%;
    height: 1.5em;
    width: 18em;
    background-color: transparent;
    border-bottom: 1px solid #ebe7e080;
    border-left: 1px solid #ebe7e080;
    border-right: 1px solid #ebe7e080;
}



.sect-5 .piti_carré{
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    position: absolute;
    background-color: #0f1923;
    transition: 0.3s ease-out;
}

.sect-5 .bouton:hover .piti_carré{
    width: 100%;
}

.sect-5 button:hover::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    height: 6px;
    width: 6px;
    background-color: #ffffff;
    transition: 0.3s;

}

.sect-5 .bouton:active {
    transform: scale(0.9);
    transition: 0.3s;
}



/*----------------------------------------------------------------------------------------------------------------- */

.sect-6{
    font-family: 'VALORANT';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 130px;
}

.sect-6-banner{
 background-color: #3e95cf;
 border-radius: 15px;
}

.primary-button{
cursor: pointer;
font-family: 'VALORANT';
font-size: 0.9rem;
letter-spacing: 0.05rem;
border: 1px solid ;
padding: 1.3rem 4rem;
background: url(Images/Kyn.svg);
background-size: 130%;
background-position: 500%;
background-repeat: no-repeat;
transition: 0.3s ease-in-out;
transition-property: background-position, border,color;
position: relative;
z-index: 1;
}

.primary-button:hover{
    border: 1px solid;
    color: white;
    background-position: 50%;
}

.primary-button:active{
    transform: scale(0.9);
    transition: 0.3s;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-7-banner{
    background-color:rgb(22, 22, 22,1);
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
   }

.sect-7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.photo-grid img{
    width: 230px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
   transition: 0.4s ease;
  }

  .photo-grid img:hover {
   translate: 0px -20px;
  }

.sect-7 .navbar{
    background-color: rgba(0, 0, 0, 1);
    height: 330px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
}

.sect-7 .navbar:hover{
    width: 300px;
 }


 .sect-7 .hover-img{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    background-color: rgba(0, 0, 0,1);
    margin-left: 15px;
    padding-left: 15px;
    padding-bottom: 2px;
    height: 48px;
    width: 100px;
    border-radius: 10px;
    border: 4px solid;
    border-color: rgba(255, 255, 255,0.15);
    transition: 0.5s;

 }

 .sect-7 a{
    text-decoration: none;
}

.sect-7 a:hover{
    translate: 0px -12px;
    width: 170px;
    border-color: rgba(255, 255, 255,0.8);
}
 .sect-7 a:active{
    transform: scale(0.8);
    transition: 0.5s;
 }

/*----------------------------------------------------------------------------------------------------------------- */

.sect-8-banner{
    background-color: #3436ad;
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
    position: relative;
   }

.sect-8{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }


   .sect-8 button{
    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 3px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.6s;
}
.sect-8 button:hover{
    background-color: #337033;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-9-banner{
    background-color: #b8c0ff;
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
    position: relative;
}

.sect-9{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sect-9 img{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    transition: 0.3s ease-out;
    object-fit: cover;
}

.sect-9 img:hover{
   border-radius: 25px;
   height: 200px;
   width: 300px;
   transform: scale(1.3);

}

/*----------------------------------------------------------------------------------------------------------------- */


.sect-10-banner{
    background-color: #6F61C0;
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
    position: relative;
   }

   .sect-10 .pulse {
    background: #40B3A2;
    width: 180px;
    height: 50px;
    border: none;
    margin-bottom: 200px;
    box-shadow: #64CCC5 5px 5px;
  }

  .pulse:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 red; }
  }
  
.sect-10{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   }


.sect-10 .bord-btn{
    background-color: #35155D;
    height: 330px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: ease-in-out 0.5s;
    border-radius: 25px;
}

.sect-10 img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: 0.4s ease;
}

.sect-10 .horizon{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    gap: 25px;
}

.sect-10 .container img:hover{
    transform: scale(1.3) rotate(7deg);
}

.sect-10 .container{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

}


/*----------------------------------------------------------------------------------------------------------------- */

.sect-11-banner{
    background-color: #1450A3;
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
    position: relative;
   }

.sect-11{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-11 a{
    position: relative;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 60px;
    padding: 5px 25px;
    transition: 0.3s ease-in-out;
}

.sect-11 a:after{
    content: "";
    display: block;
    transform: scale(0);
    background-color: #DD58D6;
    position: absolute;
    left: 20px;
    right: 20px;
    height: 3px;
    transition: 0.3s;
}

.sect-11 a:hover::after{
    transform: scale(1);
}

.sect-11 a:active{
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #1450A3;
}

.sect-11 label{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.sect-11 select{
    background-color: rgb(95, 131, 233);

}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-12-banner{
    height: 200px;
    width: 100%;
    background-color: rgb(30, 30, 30);
    border-radius: 15px; ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sect-12 button{
    position: relative;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #3eff37;
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    z-index: 2;
}

.sect-12 span{
    background: #3eff37;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.sect-12 button:hover span{
    width: 100%;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-13-banner{
    background-color: #F8F0E5;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-13{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sect-13 .jsp{  /* c'est le lien  */
    position: relative;
    display: flex;
    background-color: #DAC0A3;
    padding: 15px 25px;
    font-size: 30px;
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
    letter-spacing: 3px;
    box-shadow: 0 0.4rem #EADBC8;
    box-shadow: 0.4rem 0.4rem 0  #EADBC8;
    transition: 0.5s;

}

.sect-13 .jsp::before{
    content: '';
    position: absolute;
    height: 67px;
    width: 5px;
    background-color: #FAF1E4;
    opacity: 1;
    inset: 0px;
    left: -5px;
    transition: 0.3s ease-in-out;
}

.sect-13 .jsp:hover{
    transition: 0.5s;
    transform: translatey(-15px);
    color: #FAF1E4;
}

.sect-13 .jsp:hover::before{
    transform: translateX(6.5em);
}


.sect-13 .jsp2{
    margin-bottom: 68px;
}

/* bouton de droite */

.sect-13 .btn1{
    height: 66.5px;
    width: 192.7px;
    margin-top: 1px;
    position: absolute;
    background-color: #DAC0A3;
    border: none;
    font-size: 30px;
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    z-index: 2;
    transition: 0.3s ease-out;
}

.sect-13 .btn2{
    height: 66px;
    width: 192.7px;
    position: absolute;
    background-color: #EADBC8;
    border: none;
    font-size: 30px;
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    z-index: 1;
    transform: translateX(6px) translatey(7.5px);
    transition: 0.3s ease-out;

}

.sect-13 .jsp2:hover .btn1{
    transform: translateX(-6px) translateY(-7.5px);
}

.sect-13 .jsp2:hover .btn2{
    transform: translateX(9px) translateY(9px);
}

.sect-13 div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 60px;
    right: 100px;
}

.sect-13 .jsp3{
    position: relative;
    display: flex;
    background-color: #DAC0A3;
    padding: 12px 25px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    border: 3px solid transparent;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
    letter-spacing: 3px;
    box-shadow: 0 0.4rem #EADBC8;
    box-shadow: 0.4rem 0.4rem 0  #EADBC8;
    transition: 0.5s;

}

.sect-13 .jsp3 span{
    background: #F8F0E5;
    height: 150px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 30px 30px 0px 0px;
    top: 120%;
    z-index: -1;
    transition: 0.5s;
}

.sect-13 .jsp3:hover span{
    top: -70%;
    border-radius: 50px 50px 0px 0px;
}

.sect-13 .jsp3:hover {
    color: #d8ba98;
    border: 3px solid #DAC0A3;
    box-shadow: none;
}

.sect-13 .jsp3:active {
    transform: scale(1.1);
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-14-banner{
    background-color: #57375D;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-14{
    position: relative;
    z-index: 1;
}

.sect-14 .bck-grnd{
    background-color: #AED2FF;
    position:absolute;
    border-radius: 15px;
    z-index: -1;
    height: 200px;
    width: 0px;
    transform: translate(-745px,-71px);
    transition: 0.3s ease-in-out;
}

.sect-14 .bck-grnd.active{
    background-color: #AED2FF;
    position:absolute;
    border-radius: 15px;
    z-index: -1;
    height: 200px;
    width: 1851px;
    transform: translate(-745px,-71px);
    transition: 0.3s ease-in-out;
}

.sect-14 button{
    margin-right: 20px;
}

.sect-14 .bouton, .blabla{
    background-color: #FF9B82;
    cursor: pointer;
    padding: 1em;
    width: 10rem;
    font-size: 17px;
    box-shadow: 0 0.4rem #FFC8C8;
    border-radius: 27px;
    border: none;
    overflow: hidden;
    z-index: 2;
    transition: 0.2s;
    border: 2px solid black;
}

.sect-14 .bouton:hover, .blabla:hover {
    transform: translateY(0.2rem);
    box-shadow: 0 0.25rem #FFC8C8;
    letter-spacing: 2px;
    color: #fefefe;
    text-shadow: 0 0.1rem #bcb4b4;
}

.sect-14 .bouton:active, .blabla:active{
    transform: translateY(0.6rem);
    box-shadow: none;
}

.sect-14 .bouton span{
    background: #E48586;
    border-radius: 27px;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
}

.sect-14 .blabla span{
    background: #E48586;
    border-radius: 27px;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s ease-in-out;
}


.sect-14 .bouton:hover span {
    width: 100%;
}

.sect-14 .blabla:hover span {
    width: 100%;
}


/*----------------------------------------------------------------------------------------------------------------- */

.sect-15-banner{
    background-color: #313866;
    border-radius: 15px;
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.sect-15 {
    display: flex;
    align-items: center;
    gap: 25px;
}


.sect-15 .container{
    border: 2px solid #23c483;
    width: 280px;
    height: 350px;
    border-radius: 5px;
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-columns: 93px 93px 93px;
    grid-template-rows: 116px 116px 116px;
    transition: 0.3s;
    z-index: 1;
}

.sect-15 .card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}

.sect-15 .DivImg{
    background: url(Images/paysage1.jpg);
    background-size: cover ;
    background-size: 150%;
    background-position: 37% 57%;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
}

.sect-15 .hztl-icon1{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    gap: 35px;
    transition: 0.3s;
  }

  .sect-15 .hztl-icon2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    gap: 35px;
    transition: 0.3s;
  }

  .sect-15 .hztl-icon3{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20px;
    gap: 35px;
    transition: 0.3s;
  }

  .sect-15 .hztl-icon1.active{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: -215px;
    gap: 35px;
    transition: 0.3s;
  }

  .sect-15 .hztl-icon2.active{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: -215px;
    gap: 35px;
    transition: 0.3s;
  }

  .sect-15 .hztl-icon3.active{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: -215px;
    gap: 35px;
    transition: 0.3s;
  }

.sect-15 .text-lorem1{
    color: #fefefe;
    display: flex;
    flex-direction: row;
    top: 40%;
    right: 45%;
    position: absolute;
    opacity: 0;
    width: 225px;
    transition: 0.3s;
}

.sect-15 .text-lorem2{
    color: #fefefe;
    display: flex;
    flex-direction: row;
    top: 40%;
    right: 45%;
    position: absolute;
    opacity: 0;
    width: 225px;
    transition: 0.3s;
}

.sect-15 .text-lorem3{
    color: #fefefe;
    display: flex;
    flex-direction: row;
    top: 40%;
    right: 45%;
    position: absolute;
    opacity: 0;
    width: 225px;
    transition: 0.3s;
}

.sect-15 .text-lorem1.active{
    color: #fefefe;
    flex-direction: row;
    margin: 0px -6.5em 0px 0px;
    opacity: 1;
    width: 225px;
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
}

.sect-15 .text-lorem2.active{
    color: #fefefe;
    flex-direction: row;
    margin: 0px -6.5em 0px 0px;
    opacity: 1;
    width: 225px;
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
}


.sect-15 .text-lorem3.active{
    color: #fefefe;
    flex-direction: row;
    margin: 0px -6.5em 0px 0px;
    opacity: 1;
    width: 225px;
    border-bottom: 2px solid grey;
    padding-bottom: 8px;
}


.sect-15 .icone1{
    width: 10px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-left: 30px;
    margin-top: 40px;
    color: #fefefe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sect-15 .icone2{
    width: 10px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: 30px;
    margin-top: 40px;
    color: #fefefe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sect-15 .icone3{
    width: 10px;
    grid-row: 2 / 3;
    grid-column: 3 / 3;
    margin-left: 30px;
    margin-top: 40px;
    color: #fefefe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sect-15 .icon-txt{
    margin-right: -20px;
    height: 35px;
}

.sect-15 button {
    padding: 1px 20px 0px 20px;
    margin: 35px -25px 30px -25px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    grid-row: 3 / 3;
    grid-column: 2 / 3;
  }

  .sect-15  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .sect-15 button:active {
    transform: translateY(-1px);
  }

  .sect-15 .bck-grnd{
    transform: translate(-100px, 235px);
    width: 290px;
    height: 235px;
    z-index: -1;
    transition: 0.5s;
  }

  .sect-15 .container:hover .bck-grnd{
    background-color: #213555;
    transform: translateX(-100px);
    width: 290px;
    height: 435px;
    z-index: -1;
    transition: 0.5s;
  }

/*----------------------------------------------------------------------------------------------------------------- */

.sect-16-banner{
    background-color: #1a1a1a;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-16 {
    display: flex;
    align-items: center;
    gap: 100px;
    font-family: sans-serif;
}

.sect-16 .btn1 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.sect-16 .btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    
}

.sect-16 .btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #1a1a1a;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.sect-16 .btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: #1a1a1a;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.sect-16 .btn2:hover::before{
    transform: translateY(-25px);
    height: 0;
}

.sect-16 .btn2:hover::after{
    transform: scaleX(0);
    transition-delay: 0.15s;
}

.sect-16 .btn2:hover{
    border: 2px solid #fefefe;
}

.sect-16 .btn2 span {
    position: relative;
    z-index: 3;
}

.sect-16 .btn1::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #1a1a1a;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.sect-16 .btn1:hover::before{
    transform: scaleY(0);
}

.sect-16 .btn1::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #1a1a1a;
    transition: 0.3s ease-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
}

.sect-16 .btn1:hover::after{
    transform: scaleX(0);
}


.sect-16 .btn1 span {
    position: relative;
    z-index: 3;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-17-banner{
    background-color: #1F4172;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-17{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sect-17 .checkbox-label{
  font-size: 22px;
  color: #fefefe;
  padding: 10px 50px 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.3s;
}

.sect-17 .checkbox{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: -22px;
    appearance: none;
    border-radius: 5px;
    background-color: #64CCC5;
    z-index: 2;
    transition: all 0.3s;
}

.sect-17 .container{
  width: 35px;
  height: 35px;
  position: relative;
  top: 4px;
  left: -8%;
  border-radius: 5px;
  background-color: #DAFFFB;
  transition: all 0.3s;
}

.sect-17 input::before{
   content: "";
  background-color: #ffc8c8;
  position: relative;
  display: flex;
  top: 45%;
  left: 50%;
  width: 55px;
  height: 3px;
  border-radius: 25px;
  transform: translate(100px, 0px) scale(0);
  transition: ease-out 0.15s; 
}

.sect-17 .checkbox:checked::before{
    transform: translateX(2em);
    top: 12px;
    transition: ease-out 0.15s; 
}

.sect-17 .checkbox:hover{
    transform: translate(4px, 4px);
    transition: ease-out 0.15s; 
    background-color: #FFC8C8;
}

.sect-17 .checkbox:checked{
    transform: translate(4px, 4px);
    transition: ease-out 0.15s; 
    background-color: #FFC8C8;
}


.sect-17 .svg-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    z-index: 3;
    top: 35%;
    left: 13%;
    color: #fefefe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: rotate(0deg) scale(0);
    transition: ease-in 0.2s;
}

.sect-17 .checkbox:checked ~ .svg-icon{
    transform: rotate(360deg) scale(1);
    transition: ease-in 0.2s;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-18-banner{
    background-color: #39A7FF;
    border-radius: 15px;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sect-18 {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.sect-18 .vlrt{
    height: 100px;
    width: 200px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 20px;
    border: 3px solid;
    color: #f5f5f5;
    border-color: #b6b6b6;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sect-18 .vlrt:hover{
    border-color: #16FF00;
    letter-spacing: 2px;
    font-size: 21px;
    color: #fefefe;
    text-shadow: 0 0.3rem #333;
    box-shadow: #16FF00 0px -30px 40px -30px inset;
}

.sect-18 .vlrt .green{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #16FF00;
    
}

.sect-18 .vlrt .green{
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(182, 182, 182);
    transform: rotate(49deg) translateX(-32px) translateY(0px);
    
}

.sect-18 .vlrt:hover .green{
    background-color: #16FF00;
    transition: 0.5s;
}

.sect-18 .vlrt:active {
    letter-spacing: 0px;
    text-shadow: 0 0rem #333;
    transition: 0.1s;
    background-color: #1abc9c;
}

/*----------------------------------------------------------------------------------------------------------------- */

.sect-19-banner{
    background-color: #000;
    border-radius: 15px;
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.sect-19 {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.sect-19 ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

.sect-19 ul li{
    list-style: none;
}

.sect-19 ul li a {
   display: inline-block; 
   margin: 10px 0;
   font-size: 4em;
   text-decoration: none;
   color: #fff;
   transition: 0.2s;
}

.sect-19 ul li:hover ~ .cursor{
    transform: scale(6);
    background-color: #fefefe;
    mix-blend-mode: difference;
    transition: 0.1s;

}

.cursor{
    position: fixed;
    z-index: 9999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f1f1f1;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
